.formGroup {
    padding-bottom: 5px;
    font: 1em sans-serif;
    color: black;
    
}
.formGroup label{
    font-size: 15px;
    font-family: 'Trebuchet MS';
    font-weight:bolder;
}

input[type="file"] {
    position: relative;
  }
  
  input[type="file"]::file-selector-button {
    width: 120px;
    color: transparent;
  }
  
  /* Faked label styles and icon */
  input[type="file"]::before {
    position: absolute;
    pointer-events: none;
    top: 0.3 px;
    left: 16px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
  }
  
  input[type="file"]::after {
    position: absolute;
    pointer-events: none;
    top: 1px;
    left: 40px;
    color: #1114c0;
    content: "Upload File";
  }
  